# Hide all files from docker
*

# Show only the files we need
!server/
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.build.json
!jest.config.ts
!jest.setup.ts
!common/
!websocket/
!packages/
!src/
!nest-cli.json
!api/
!proxy/
!test/