name: Unit Tests
on:
  pull_request:
    branches:
      - main
      - production

jobs:
  jest-testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Docker Compose
        run: |
          sudo curl -L https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
      - name: Build images
        run: docker-compose build
      - name: Run Test
        run: docker-compose run --rm server sh -c "npm run test"
